* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0;
	margin: 0;
	padding: 0;
}

a {
	font-size: 16px;
}
.addButton {
	background-color: #00ff00;
	border-color: #00cc00;
	border-radius: 0 5px 0 0;
	color: #006600;
	float: right;
	font-size: 18px;
	width: 42px;
}
.addButton:hover {
	background-color: #00cc00;
	border-color: #00ff00;
	
}
.backButton {
	margin: 10px;
	position: absolute;
	bottom: 0;
	left: 40%;
	width: 20px;
	height: 20px;
}
.forwardButton {
	margin: 10px;
	position: absolute;
	bottom: 0;
	right: 40%;
	width: 20px;
	height: 20px;
}
#currentTime {
	font-size: 20px;
	margin: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.deleteButton {
	background-color: #ff0000;
	border-color: #cc0000;
	border-radius: 5px;
	color:#880000;
	display: none;
	float: right;
	font-size: 12px;
	width: 26px;
}
.deleteButton:hover {
	background-color: #cc0000;
	border-color: #ff0000;
}
div button {
	border-width: 3px;
	height: 100%;
}
h1 {
	background-color: #aaaaaa;
	border-radius: 5px 0 0 0;
	display: inline-block;
	font-size: 30px;
	height: 100%;
	text-align: center;
	width: calc(100% - 42px);
}
.headerDiv {
	height: 40px;
	width: 100%;
}
li {
	border: 3px solid transparent;
	border-radius: 1px;
	font-size: 18px;
	padding: 2px 5px;
}
li:hover {
	border-color: #888888;
}
li:hover button {
	display: inline-block;
}
.linkButton {
	border: 1px solid #000000;
	border-radius: 2px;
	background-color: #aaaaaa;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.listDiv {
	display: inline-table;
	margin: 1%;
	width: 48%;
}
@media only screen and (max-width: 970px) {
	.listDiv {
		display: block;
		width: 98%;
	}
}
p {
	font-size: 16px;
	margin: 10px;
}
ul {
	background-color: #dddddd;
	border: solid 3px #aaaaaa;
	border-top: none;
	list-style: none;
}