* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0;
	margin: 0;
	padding: 0;
}

div button {
	border-width: 3px;
	height: 100%;
}
.addButton {
	background-color: #5bff5b;
	border-color: #00cc00;
	border-radius: 0 5px 0 0;
	color: #008800;
	float: right;
	font-size: 18px;
	width: 42px;
}
.addButton:hover {
	background-color: #00aa00;
	border-color: #5bff5b;
	color: #5bff5b;
}
.deleteButton {
	background-color: #ff5b5b;
	border-color: #cc0000;
	border-radius: 5px;
	color:#880000;
	display: none;
	float: right;
	font-size: 12px;
	width: 26px;
}
.deleteButton:hover {
	background-color: #cc0000;
	border-color: #ff5b5b;
	color: #ff5b5b;
}

#currentTime {
	font-size: 20px;
	margin: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.headerDiv {
	height: 40px;
	width: 100%;
}
.listDiv {
	display: inline-block;
	margin: 1%;
	width: 48%;
}

h1 {
	background-color: #aaaaaa;
	border-radius: 5px 0 0 0;
	display: inline-block;
	font-size: 30px;
	height: 100%;
	text-align: center;
	width: calc(100% - 42px);
}

ul {
	background-color: #dddddd;
	border: solid 3px #aaaaaa;
	border-top: none;
	list-style: none;
}
li {
	border: 3px solid transparent;
	border-radius: 1px;
	font-size: 18px;
	padding: 2px 5px;
}
li:hover {
	border-color: #888888;
}
li:hover button {
	display: inline-block;
}

@media only screen and (max-width: 970px) {
	.listDiv {
		display: block;
		width: 98%;
	}
}
