* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	font-size: 30px;
	margin: 0 25px;
}

.list {
	background-color: #dddddd;
	border: solid 2px #ff0000;
	border-style: none solid;
	border-radius: 5px;
	list-style: circle inside;
	width: 260px;
	margin: 10px 20px;
	padding: 7px 10px;
}

#played {
	border-color: #00bb00
}
